toolchain/*
setup_nanvix.sh
setup_nanvix.sh~
build_nanvix.sh
run_nanvix.sh
nanvix/bin/*
nanvix/doc/*
nanvix/doxygen/*
nanvix/lib/*
nanvix/nanvix-iso/*
nanvix/tools/*
nanvix/bochsout.txt
CREDITS
hdd.img
initrd.img
LICENSE
makefile
nanvix/nanvix.iso
*.o
.idea

.vscode